@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@tailwind utilities;

/* Background global */
body {
  @apply bg-white text-black transition-colors duration-300;
}

body.dark {
  @apply bg-[#0A0A0A] text-white transition-colors duration-300;
}


/* Background global */
body {
  @apply bg-white text-black transition-colors duration-300;
}

body.dark {
  @apply bg-[#0A0A0A] text-white transition-colors duration-300;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}